.container__banner {

    background: url(../../img/banner/banner-image.png) no-repeat;
    background-size: cover;
    height:22rem;
    display: flex;
    align-items: center;
    
}

@media screen and (max-width:900px) {
    .container__banner {


    }

}
