.mobile__lista{

    display: none;
}


@media screen and (max-width:900px) {
    
    .mobile__lista {

        background-color: var(--azulclaro);
        color: #ffffff;   
        position: relative;
        width: 100%;
    }
}