
.produto__descricao {
    margin-top: 2rem;
    color: #464646;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    word-wrap: break-word;
    word-break: break-all;
    flex-shrink: 5;
}

.produto__descricao-none {

    display: none;
} 