.produto__item, .item{

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item {
    align-items: center;
    padding: 2px;
    border: 5px solid rgba(255, 255, 255, 0.637);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.288)  5px 5px 15px;
}

.item:hover {

    border: 5px solid rgba(76, 150, 235, 0.459);
    cursor: pointer;
}

.item:active {

    border: 5px solid rgba(44, 136, 241, 0.61);
}

.botao__produto {
    display: none;
}
