
.input::placeholder {
    visibility: hidden;
    color: #00000000;
}

.input{
    box-sizing: border-box;
    border: 1px solid var(--cor-secundaria);
    padding: 0.5rem;
    width: 30%;
    
}

.input__data, .input__cpf{

    width: 10rem;
}

.input-mensagem-erro {
    display: none;
}

.input-container--invalido .input-mensagem-erro {
    color:rgb(223, 33, 8);
    display: block;

}

.input-label {

    color: var(--cor-primaria);

}

